/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@300;400;700;900&display=swap');

/* Common Style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.title {
    color: #333;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
}

.title span {
    color: #df2443;
}

.btn {
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #cb3e56, #df2443);
}

.btn:hover {
    opacity: 1;
}

.half-width {
    width: 50%;
}

.triple-width {
    width: 65%;
}

.one-width {
    width: 35%;
}

.sub-common-width,
.common-width {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.sub-common-width {
    width: 570px;
}

/* Banner Section */
#banner {
    padding: 70px 0 80px;
}

.banner-left .title span {
    font-size: 70px !important;
    color: #df2443 !important;
}

.banner-left h3 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 60px;
}

.banner-left h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

/*.banner-left .sub-common-width {*/
/*    margin-bottom: 50px;*/
/*}*/

.banner-left .sub-common-width .half-width {
    padding-right: 10px;
}

.banner-left p {
    color: #7a797e;
    font-size: 16px;
    margin-bottom: 0;
}

.banner-left span {
    color: #7a797e;
    font-size: 14px;
}

.banner-right img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.banner-left .btn {
    margin-top: 30px;
    display: inline-block;
}

/* About start  */
#about {
    padding: 200px 0;
    margin-bottom: 85px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../image/about-bg.jpg");
}

.about-content {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

.about-content h3 {
    font-size: 50px;
    margin-bottom: 0;
}

.about-content .btn {
    margin-bottom: 30px;
}

.about-content p {
    text-align: justify;
    letter-spacing: 2px;
}

.about-content .sub-common-width {
    margin-left: -20px;
}

.about-content .sub-common-width ul {
    margin: 0 0 10px 0;
}

.about-content .sub-common-width ul li {
    margin-bottom: 5px;
}

#about .btn {
    min-width: 250px;
    border-radius: 0;
    display: inline-block;
    margin-top: 10px;
}

/* Basic Info Section */
#blood {
    padding: 1px 0 80px;
    background-color: #fbf4f4;;
}

#blood h3 {
    font-size: 55px;
    margin-bottom: 20px;
}

#blood p {
    margin: 0 auto;
}

.blood {
    width: 28%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px gray;
    margin-top: 40px;
}

.blood-img img {
    width: 100%;
    border-radius: 15px;
}

.blood-content .title {
    margin: 20px 0 15px;
    font-size: 30px !important;
}

.blood-content p {
    margin-bottom: 0;
    line-height: 23px;
    text-align: justify;
}

/* Donation Section */
#donation {
    padding: 80px 0;
}

#donation img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 2px 10px grey;
}

#donation .one-width p {
    color: #7a797e;
}

/* Volunteer */
.volunteer {
    padding: 80px 0;
    background-image: url("../image/divider-bg.jpg");
    background-size: cover;
    background-position: left;
}

.volunteer .title {
    text-align: center;
    color: #ffffff;
}

.volunteer .title span {
    color: #000;
}

.volunteer .btn {
    color: #ffffff;
    background-color: #000000;
    background-image: none;
}

/* Counter */
.counter-content {
    width: 100%;
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 80px;
    box-shadow: 0 2px 10px gray;
}

.counter-content .count {
    float: left;
    width: 33.33%;
}

.counter-content .count h3 {
    font-size: 40px;
    font-weight: 900;
    margin: 0 0 20px 0;
}

.counter-content .count p {
    margin: 0;
    letter-spacing: 2px;
}

/* App Download */
#app {
    padding: 50px 0;
    background-color: #d7eafb;
}

.app-content {
    width: 100%;
    height: 150px;
    text-align: center;
}

.app-content .title {
    margin: 25px 0;
}

.app-content img {
    width: 100%;
}

/* Footer */
#footer {
    background-color: #0b0e17;
}

.footer {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.footer .title a {
    color: #fff;
    font-size: 38px;
    text-decoration: none;
}


.footer p {
    margin: 0;
    color: gainsboro;
}
