/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@300;400;700;900&display=swap');

/* Common Style */
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.title {
    color: #333;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Cookie', cursive;
}

.title span {
    color: #df2443;
}

.btn {
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #cb3e56, #df2443);
}

.btn:hover {
    opacity: 1;
}

.half-width {
    width: 50%;
}

.sub-common-width,
.common-width {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.sub-common-width {
    width: 570px;
}

/* Banner Section */
#banner {
    padding: 70px 0 80px;
}

.banner-left .title span {
    font-size: 70px !important;
    color: #df2443 !important;
}

.banner-left h3 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 60px;
}

.banner-left h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

/*.banner-left .sub-common-width {*/
/*    margin-bottom: 50px;*/
/*}*/

.banner-left .sub-common-width .half-width {
    padding-right: 10px;
}

.banner-left p {
    color: #7a797e;
    font-size: 16px;
    margin-bottom: 0;
}

.banner-left span {
    color: #7a797e;
    font-size: 14px;
}

.banner-right img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.banner-left .btn {
    margin-top: 30px;
    display: inline-block;
}

/* Basic Info Section */
#blood {
    padding: 1px 0 80px;
    background-color: #fbf4f4;;
}

#blood h3 {
    font-size: 55px;
    margin-bottom: 20px;
}

#blood p {
    margin: 0 auto;
}

.blood {
    width: 28%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px gray;
    margin-top: 40px;
}

.blood-img img {
    width: 100%;
    border-radius: 15px;
}

.blood-content .title {
    margin: 20px 0 15px;
    font-size: 30px !important;
}

.blood-content p {
    margin-bottom: 0;
    line-height: 23px;
    text-align: justify;
}